

.table-container {
    overflow-x: auto;
}


.schedule-table {
    width: 100%;
    border-collapse: collapse; /* Прибирає подвійні рамки між комірками */
    background-color: #fff;
}

.schedule-table th, 
.schedule-table td {
    border: 1px solid #ccc;
    padding: 8px;
    vertical-align: top; 
}

.schedule-table th {
    background-color: #f2f2f2;
    text-align: center;
}


.event {
    border: 1px solid #aaa;
    border-radius: 4px; 
    padding: 5px;
    margin-bottom: 5px;
}

.event.lab {
    background-color: #cbe7ff; 
}

.event.prac {
    background-color: #d8f3dc; 
}


.active-day {
    background-color: #e3f2fd;
}